h1{
    
    color: white;
}

.error{
    color:black; 
    font-weight: bold; 

}

.container{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

}

body{
    background-image: url(https://i.imgur.com/pxBcq.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.card{
    display: flex;
    flex-direction: column;
}