h1{
    
    color: white;
}

.error{
    color:black; 
    font-weight: bold; 

}

.container{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

}

body{
    background-image: url(https://thumbs.gfycat.com/CloseObviousHalcyon.webp);
    background-size: cover;
    background-attachment: fixed;
}

.card{
    display: flex;
    flex-direction: column;
}